

body {
    font-family: "Vazirmatn", sans-serif;
}

/* Force Persian font on datepicker and all its generated children */
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;700&display=swap');

.jalali-datepicker-container * {
    font-family: "Vazirmatn", "Tahoma", "Noto Sans Arabic", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}


.jalali-datepicker-container {
    width: 340px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.12);
    position: absolute;
    z-index: 10000;
    padding: 10px;
}


.pdhheader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 6px;
    height: 40px; /* ارتفاع ثابت */
}

    .pdhheader button  {
        background: #007bff;
        color: #fff;
        border: none;
        height: 36px;
        min-width: 36px;
        padding: 0;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pdhheader select  {
        height: 36px;
        padding: 0 8px;
        border-radius: 6px;
        border: 1px solid #ccc;
        background: #fafafa;
        font-weight: 600;
        display: flex;
        align-items: center;
    }


.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    margin-top: 8px;
}

.day-pdhheader {
    padding: 8px 0;
    border-radius: 50%;
    cursor: pointer;
    transition: background .12s;
    text-align: center;
}

    .day-pdhheader.friday {
        color: #d93030;
    }

.day-cell {
    padding: 8px 0;
    border-radius: 50%;
    cursor: pointer;
    transition: background .12s;
    text-align: center;
}

    .day-cell:hover {
        background: #e6f2ff;
    }

.empty-cell {
    background: transparent;
}

.selected-day {
    background: #007bff !important;
    color: #fff !important;
    font-weight: 700;
}

.today {
    background: rebeccapurple !important;
    color: #fff !important;
    font-weight: 700;
}

.holiday-official {
    color: #d93030;
    font-weight: 700;
}

.holiday-unofficial {
    color: #ff9800;
    font-weight: 700;
}

.hidden {
    display: none !important;
}


.go-today-btn {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: rebeccapurple;
    color: #fff;
    font-weight: 700;
}

    .go-today-btn:hover {
        filter: brightness(.95);
    }
